# Auto detect text files and perform LF normalization
* text=auto

# Python files
*.py text eol=lf

# Frontend files
*.ts text eol=lf
*.tsx text eol=lf
*.js text eol=lf
*.jsx text eol=lf
*.json text eol=lf
*.css text eol=lf
*.html text eol=lf

# Windows batch files
*.bat text eol=crlf

# Binary files
*.whl binary
*.pt binary
*.pth binary
*.jpg binary
*.jpeg binary
*.png binary
*.gif binary
*.ico binary
*.mp4 binary
*.avi binary


